<label>Schedule show</label>

<div class = "tag">
	<div>Show id: {{edit_item['shows'] [edit_item['shows'].length - 1].show_id}}</div>
	<div class = "remove_field" ng-click="edit_item['shows'] = []">-</div>
</div>
<input type = "submit" value = "Add a show" ng-click="choose_relation(edit_item, 'shows', 'shows')">


<label>Schedule date</label>
<input type = "date" ng-model="edit_item['date']">




<label>Schedule hour</label>
<input type = "time" ng-model="edit_item['time']" step="1">



<input type = "submit" value = "Update" ng-click="update()">
<input type = "submit" value = "Delete" ng-click="delete()" class="delete">