
<!-----------==== IMAGE HERE ====------------>
<div class="background-image">
  <img src = "public/images/main/about-background.jpg">

</div>



<!-----------==== TEXT HERE ====------------>
<div class="text-about">
<h1>
  Broadcasting 24/7 from Guadalajara and worldwide.


For radio show proposals, volunteering, partnerships, and feedback write to us at 
<a href="mailto:hello@internetpublicradio.live?Subject=hello IPR">hello@internetpublicradio.live</a>.
Also follow us on <a href="https://facebook.com/InternetPublicRadio" target="_blank">Facebook,</a> <a href="https://twitter.com/internetpradio" target="_blank">Twitter,</a> and <a href="https://instagram.com/internetpublicradio" target="_blank">Instagram.</a>
</h1>
</div>