<div id = "banner" ng-controller="banners">

	<div class="banner_scroll">

		<div class = "banner_image {{$index == 0 ? 'current' : ''}}" ng-repeat="item in items">
			<img src = "public/images/uploads/{{item.image_banner}}">

			<div class="description-carousel">
				<div class = "title">
					{{item.name}}
				</div>
				<div class="about">
        			{{item.description}}
				</div>
				<div class="listen-back">
					<a href="{{item.url}}" target="blank">
        			listen back
        			</a>
				</div>
			</div>

		</div>

	</div>

	<div id="banner_navigation">
		<div class="arrow fas fa-chevron-left"></div>
		<div class="arrow fas fa-chevron-right"></div>
	</div>
</div>


<!--Google Advertise<div class="expanding_horizons_banner" id="expanding-horizons">
	<a href="https://everpress.com/expanding-horizons" target="_blank"><img src="https://elasticbeanstalk-us-east-2-713004748811.s3.us-east-2.amazonaws.com/expanding-horizons-banner.png"></a>
</div>-->



<div  ng-controller="main_shows">
	<!-----------==== L A T E S T S H O W S ====------------>
	<div ng-if="latest.length > 0">
		<h2 class = "show_heading">Latest shows</h2>
		<!--<h3 class= "show_heading sub-title"></h3>-->
		<a href="/shows" class="button">all shows</a>
		<div id = "latest" class = "featured_list">

			<div class = "featured" ng-repeat = "show in latest">
				<div class = "featured-image show">
					<div class = "play fas fa-play"></div>
					<img src = "public/images/uploads/{{show.image_thumbnail}}">
					<input type = "hidden" value ="{{show.stream}}">
				</div>

				<div class = "description">
					<span class = "title"><a href = "/shows/{{show.webpath}}" ng-click="set_show(show);">{{show.name}}</a></span>
					<span class = "genre">
						<a href = "/tags/{{tag.tag}}" ng-repeat = "tag in show.tags">{{tag.tag}}</a>	
					</span>
				</div>
			</div>

		</div>
	</div>


	<!-----------===- R E C O M M E N D E D ====------------>
	<div ng-if="featured.length > 0">
		<h2 class="show_heading">Recommended shows</h3>
		<!--<a href="/shows" class="button">LATEST SHOWS</a>-->
		<h3 class="show_heading sub-title"> </h3>
		

		<div id = "recommended" class = "featured_list">

			<div class = "featured" ng-repeat = "show in featured">
				<div class = "featured-image show">
					<div class = "play fas fa-play"></div>
					<img src = "public/images/uploads/{{show.image_thumbnail}}">
					<input type = "hidden" value ="{{show.stream}}">
				</div>

				<div class = "description">
					<span class = "title"><a href = "/shows/{{show.webpath}}" ng-click="set_show(show);">{{show.name}}</a></span>
					<span class = "genre">

						<a href = "/tags/{{tag.tag}}" ng-repeat = "tag in show.tags">{{tag.tag}}</a>
						
					</span>
				</div>
			</div>

		</div>
	</div>
</div>


<div ng-controller ="events">
	<div ng-if="items.length > 0">
		<!-------------=== UPCOMING EVENTS ====------------>
		<h2 class = "show_heading">upcoming events / editorial</h2>
		
		<div id = "events" class = "featured_list">

			<div class = "featured" ng-repeat="item in items">
				<a class = "featured-image" href="{{item.url}}" target="blank">
					<div class = "events">more info</div>
					<img src = "public/images/uploads/{{item.image_thumbnail}}">
				</a>
				<div class = "description">
					<span class = "title">{{item.name}}</span>
					<span class = "genre">{{item.date}}</span>
				</div>
			</div>
		</div>
	</div>

</div>