
<div ng-controller = "individual_resident">
	<div class = "resident-description">
		<h1>{{resident.name}}</h1>
			{{resident.description}}
	</div>

	<div id = "banner" style="height:80%;">
		<img src = "public/images/uploads/{{resident.image_banner}}">
	</div>




	<!-------------------------- SHOW LIST ---------------------------->
	<div ng-if="resident.shows">
		<h2 class = "show_heading">Shows</h2>
		<div class = "featured_list">

			<div class = "featured" ng-repeat = "show in resident.shows">
				<div class = "featured-image">
					<div class = "play fas fa-play"></div>
					<img src = "public/images/uploads/{{show.image_thumbnail}}">
				</div>
				<div class = "description">
					<span class = "title"><a href = "/shows/{{show.webpath}}" ng-click="set_show(show);">{{show.name}}</a></span>
					<span class = "genre">
						<a href = "/tags/{{tag.tag}}" ng-repeat = "tag in show.tags">{{tag.tag}} </a>	
					</span>
				</div>
			</div>

		</div>
	</div>

</div>