
<div ng-controller="all_residents">
	<h1 class = "show_heading">Residents</h1>
	<h3 class= "show_heading sub-title"> - local and international residents</h3>
	<div class = "featured_list">

		<div class = "featured" ng-repeat = "resident in items">
			<div class = "featured-image tile-active">
				<a href="/residents/{{resident.webpath}}" ng-click="set_resident(resident);">
					<img src = "public/images/uploads/{{resident.image_thumbnail}}">
				</a>
			</div>
			<div class = "description">
				<span class = "title"><a href = "/residents/{{resident.webpath}}" ng-click="set_resident(resident);">{{resident.name}}</a></span>
				<span class = "genre">
					{{resident.description}}	
				</span>
			</div>
		</div>

	</div>
</div>