<div ng-controller = "schedule">
  <h2 class = "show_heading"> schedule </h2>
  <h3 class= "show_heading sub-title"> - Mexico City Time</h3>



  <!--<div class="schedule">
    <table>
      <thead>
        <tr>
          <th>SHOW</th>
          <th>DATE</th>
          <th>TIME</th>
        </tr>
      </thead>
      <tr ng-repeat = "item in items">
        <td><a href = "/shows/{{item.webpath}}">{{item.name}}</a></td>
        <td>{{item.date.substring(0,10)}}</td>
        <td>{{item.time.substring(0,5)}}</td>
        
      </tr>
    </table>
  </div>-->
  
      <section class="wrapper_schedule">
        <article class="schedule_day">
            <h2 class="schedule_title">Monday 03.05.21</h2>
            <ul class="schedule_list">
            </ul>
        </article>
        <article class="schedule_day">
            <h2 class="schedule_title">Tuesday 04.05.21</h2>
            <ul class="schedule_list">
                <li class="schdeule_item">
                    <time class="schedule_time">09:00 - 10:00</time>
                    <span class="schedule_show">100.000 w/ Mitokon</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">12:00 - 13:00</time>
                    <span class="schedule_show">Kami-O w/ B-Say</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">14:00 - 15:00</time>
                    <span class="schedule_show">Souvenir</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">15:00 - 16:00</time>
                    <span class="schedule_show">Meowww</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">18:00 - 19:00</time>
                    <span class="schedule_show">Hyperbass Sessions w/ Sunshine Vendetta</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">20:00 - 21:00</time>
                    <span class="schedule_show">Sesiones Chakanais w/ Euh</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">21:00 - 22:00</time>
                    <span class="schedule_show">fapster.radio</span>
                </li>
            </ul>
        </article>        
        <article class="schedule_day">
            <h2 class="schedule_title">Wednesday 05.05.21</h2>
            <ul class="schedule_list">
                <li class="schdeule_item">
                    <time class="schedule_time">12:00 - 13:00</time>
                    <span class="schedule_show">Maggot Brain</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">14:00 - 15:00</time>
                    <span class="schedule_show">Saint Wax w/ Lis Sarroca</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">20:00 - 21:00</time>
                    <span class="schedule_show">Rainbow Bridge w/ Madeline</span>
                </li>
            </ul>
        </article>        
        <article class="schedule_day">
            <h2 class="schedule_title">Thursday 06.05.21</h2>
            <ul class="schedule_list">
                <li class="schdeule_item">
                    <time class="schedule_time">03:00 - 04:00</time>
                    <span class="schedule_show">Mira 新伝統 w/ Kazuki Koga</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">06:00 - 07:00</time>
                    <span class="schedule_show">Extra Noir</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">07:00 - 08:00</time>
                    <span class="schedule_show">Special Selections w/ Youness</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">09:00 - 10:00</time>
                    <span class="schedule_show">DISTINKT RIDDIM w/ ARECLU</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">10:00 - 11:00</time>
                    <span class="schedule_show">Batida Sombria w/ Caucenus</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">11:00 - 12:00</time>
                    <span class="schedule_show">Année Zéro w/ Fany</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">12:00 - 13:00</time>
                    <span class="schedule_show">Antennaterra</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">13:00 - 14:00</time>
                    <span class="schedule_show">Heathen Earth w/ Bride</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">16:00 - 17:00</time>
                    <span class="schedule_show">Mapamota w/ Dara Genesis</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">17:00 - 18:00</time>
                    <span class="schedule_show">Inner Most</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">18:00 - 20:00</time>
                    <span class="schedule_show">Maniobras Urgentes w/ Orlando Ohñate & Frank Serin</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">20:00 - 21:00</time>
                    <span class="schedule_show">Kush Eternal</span>
                </li>
            </ul>
        </article>        
        <article class="schedule_day">
            <h2 class="schedule_title">Friday 07.05.21</h2>
            <ul class="schedule_list">
                <li class="schdeule_item">
                    <time class="schedule_time">22:00 - 02:00</time>
                    <span class="schedule_show">Etc Radio</span>
                </li>
            </ul>
        </article>        
        <article class="schedule_day">
            <h2 class="schedule_title">Saturday 08.05.21</h2>
            <ul class="schedule_list">
                <li class="schdeule_item">
                    <time class="schedule_time">06:00 - 07:00</time>
                    <span class="schedule_show">Fossilised Frequencies w/ Urban Feral</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">07:00 - 08:00</time>
                    <span class="schedule_show">Priceys Magic Hour</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">10:00 - 11:00</time>
                    <span class="schedule_show">j.b. glazer's a drop in the ocean w/ Myth Hella</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">11:00 - 12:00</time>
                    <span class="schedule_show">Fieldfacing w/ BELP</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">12:00 - 14:00</time>
                    <span class="schedule_show">Adjustment Layer w/ Jerod S. Rivera</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">16:00 - 17:00</time>
                    <span class="schedule_show">Seasonal Deafness w/ Kuiasu</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">17:00 - 18:00</time>
                    <span class="schedule_show">Asilo Exilio w/ theatreyu</span>
                </li>
            </ul>
        </article>        
        <article class="schedule_day">
            <h2 class="schedule_title">Sunday 09.05.21</h2>
            <ul class="schedule_list">
                <li class="schdeule_item">
                    <time class="schedule_time">07:00 - 08:00</time>
                    <span class="schedule_show">Lost Code w/ Nat Young</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">09:00 - 10:00</time>
                    <span class="schedule_show">Sunday Headaches w/ Alberto</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">11:00 - 13:00</time>
                    <span class="schedule_show">Morning Fever w/ Derek Russo</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">15:00 - 17:00</time>
                    <span class="schedule_show">JEROME Presents Rare Plastic</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">17:00 - 18:00</time>
                    <span class="schedule_show">Jollies w/ Women of the Pore</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">18:00 - 19:00</time>
                    <span class="schedule_show">AMBIX</span>
                </li>
                <li class="schdeule_item">
                    <time class="schedule_time">19:00 - 20:00</time>
                    <span class="schedule_show">Love Love Club Sounds [Ancient Future Noize]</span>
                </li>
            </ul>
        </article>        
    </section>
</div>