<!-- JUST SHOWS, CAN BE USED FOR FILTERED SHOWS ALSO E.G. BY GENRE -->

<div ng-controller="all_shows">
	<h1 class = "show_heading">Shows</h1>
	<h3 class= "show_heading sub-title"> - listen back</h3>
	<div class = "featured_list">

		<div class = "featured" ng-repeat = "show in shows">
			<div class = "featured-image show">
				<div class = "play fas fa-play"></div>
				<img src = "public/images/uploads/{{show.image_thumbnail}}">
				<input type = "hidden" value ="{{show.stream}}">
			</div>

			<div class = "description">
				<span class = "title"><a href = "/shows/{{show.name}}" ng-click="set_show(show);">{{show.name}}</a></span>
				<span class = "genre">
					<a href = "/tags/{{tag.tag}}" ng-repeat = "tag in show.tags">{{tag.tag}} </a>	
				</span>
			</div>
		</div>

	</div>
</div>

<!--<div  ng-controller="main_shows">
	<div ng-if="latest.length > 0">
		<h1 class = "show_heading">Shows</h1>
		<h3 class= "show_heading sub-title"> - listen back</h3>
		<div id = "latest" class = "featured_list">

			<div class = "featured" ng-repeat = "show in latest">
				<div class = "featured-image show">
					<div class = "play fas fa-play"></div>
					<img src = "public/images/uploads/{{show.image_thumbnail}}">
					<input type = "hidden" value ="{{show.stream}}">
				</div>

				<div class = "description">
					<span class = "title"><a href = "/shows/{{show.webpath}}" ng-click="set_show(show);">{{show.name}}</a></span>
					<span class = "genre">
						<a href = "/tags/{{tag.tag}}" ng-repeat = "tag in show.tags">{{tag.tag}}</a>	
					</span>
				</div>
			</div>

		</div>
	</div>
</div>-->